/* ROOT */
:root{
    --sonybar-bg-color: black;
    --footer-bg-color: #00439c;
}

.s-bar-bg {
    background-color: var(--sonybar-bg-color);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#sony-bar {
    height: 50px;
}

.sony-logo {
    width: 80px;
}

.jumbotron {
    background-color: rgb(64, 126, 219);
}

.bg-footer {
    background-color: var(--footer-bg-color);
}

.globe {
    width: 18px;
}

.sie {
    width: 120px;
}

.link a {
    color: white;
    text-decoration: none;
}

footer p a {
    color: white;
}

footer p {
    margin-bottom: 0;
}





