/* ROOT */
:root{
    --sonybar-bg-color: black;
    --navbar-color: white;
    --footer-bg-color: #00439c;
    --main-bg-color: #1f1f1f;
    --main-bg-color1: #bebcbb;
    --main-bg-color2: #161c3b;


    --orange-button: #cd3d0f;
    --gray-button: #363636;
    --blue-button: #2d64e6;
    --light-gray-button: #d9dadc;

    --text-color: #117bd1;
    --text-color1: #727272;
    --text-color2: #2d64e6;
}

.s-bar-bg {
    background-color: var(--sonybar-bg-color);
}

.navbar-bg {
    background-color: var(--navbar-color);
}

.g-btn {
    background-color: var(--gray-button);
}

.lg-btn {
    background-color: var(--light-gray-button);
}

.o-btn {
    background-color: var(--orange-button);
}

.b-btn {
    background-color: var(--blue-button);
}

.nr-bg {
    background-color: var(--main-bg-color);
}

.plus-bg {
    background-color: var(--main-bg-color1);
}

.now-bg {
    background-color: var(--main-bg-color2);
}

.bg-footer {
    background-color: var(--footer-bg-color);
}

.text-clr-b {
    color: var(--text-color);
}

.text-clr-g {
    color: var(--text-color1);
}

.text-clr-b {
    color: var(--text-color2);
}






.my-wrapper {
    width: 98%;
    margin: auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

header {
    z-index: 1;
}


header .nav-link {
    color: black;
}

header .nav-link:focus, 
header .nav-link:hover {
    color: var(--text-color);
}

.shadow-d-down:focus,
.shadow-d-down:hover {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}


.shared-hover:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

nav h6 {
    font-weight: bold;
    text-align: center;
}



.sony-logo {
    width: 80px;
}

.jumbo-returnal {
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position: top;
    background-size: cover;
    padding-top: 200px;
}

.op-img {
    opacity: 50%;
}

.op-img:hover {
    opacity: 100%;
}

.jumbo-takes-two {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-position: top;
    background-size: cover;
}

.play-logo {
    width: 150px;
}

.globe {
    width: 18px;
}

.sie-logo {
    width: 120px;
}

.link a {
    color: white;
    text-decoration: none;
}

footer p {
    margin-bottom: 0;
}




/* 
- come cambiare toggle sulla bav?
- btn info7danger ecc
- posizionare play-5-img?

 */





